__pycache__/
*.py[cod]
*$py.class

env/
venv/
ENV/
.venv/

*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/
static/

local_settings.py
settings_local.py

.vscode/
*.sublime-project
*.sublime-workspace

.DS_Store
Thumbs.db

*.iml
*.ipr
*.iws
.idea/

pip-log.txt
pip-delete-this-directory.txt

.env
*.env

**/migrations/**/__pycache__/
**/migrations/**/*.pyc

*.so

.cache/
.pytest_cache/

.coverage
htmlcov/

.mypy_cache/

.ruff_cache/



fotos_perfil/
documentos/
curriculos/

tmp/
