{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Alumiar - Esqueceu a Senha</title>

  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

  <link rel="stylesheet" href="{% static "users/css/forgot_password.css" %}">

</head>
<body>
  <main class="container">
    <section class="left-section">
      <header>
        <h1 class="title">ALUMIAR</h1>
      </header>
      <p id="description">
        Recupere sua senha para continuar acessando nosso espaço de escuta e acolhimento.
      </p>
    </section>

    <section class="right-section">
      <h2>Recuperar Senha</h2>
      <form class="form" action="#" method="post">
        <div class="input-group">
          <label for="email" class="visually-hidden"></label>
          <div class="input-icon">
            <i class="fas fa-envelope"></i>
          </div>
          <div class="input-field">
            <input id="email" type="email" name="email" placeholder="Digite seu e-mail" required>
          </div>
        </div>

        <button type="submit" class="reset-btn">Enviar Link de Redefinição</button>
      </form>

      <p class="back-text">
        Voltar para o <a href="{% url 'login' %}" class="back-link">Login</a>
      </p>
    </section>
  </main>

  {% comment %} <script src="{%static "users/js/forgot_password.js"%}"></script> {% endcomment %}
</body>
</html>