
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../IMGs/cadastro.svg") no-repeat center center fixed;
  background-size: cover;
  color: white;
}


.container {
  display: flex;
  max-width: 900px;
  width: 100%;  
  background: rgba(0, 0, 0, 0.4); 
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
  overflow: hidden;
}


.left-section {
  flex: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.visually-hidden {
  position: absolute;
  left: -9999px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.left-section .title {
  font-family: 'Roboto', sans-serif; 
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #fff; 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
}

.left-section #description {
  font-size: 1rem;
  line-height: 1.6;
  text-align: center;
  max-width: 300px;
}


.right-section {
  flex: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.right-section h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.8rem;
  font-weight: 700;
  color: #fff;
  margin-bottom: 20px;
  text-align: center;
}


.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input-group {
  position: relative;
  display: flex;
  align-items: center;
}

.input-icon {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: #fff; 
  font-size: 1.2rem;
}

.input-field {
  width: 100%;
  margin: auto
}

.input-field input {
  width: 100%;
  padding: 15px 12px 15px 45px;
  font-size: 1rem;
  border: 1px solid #fff;
  border-radius: 10px;
  background: #fff;
  color: #000;
  outline: none;
  transition: border-color 0.3s, background 0.3s;
}

.input-field input::placeholder {
  color: #666;
  
}

.input-field input:focus {
  
  border-color: #ffd700;
  background: #fff;
}


.reset-btn {
  background-color: #fff; 
  color: #1a252f;
  padding: 12px;
  border: none;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.3s;
}

.reset-btn:hover {
  background-color: #fff;
}


.back-text {
  margin-top: 20px;
  font-size: 0.9rem;
  text-align: center;
}

.back-link {
  color: #fff;
  text-decoration: none;
  font-weight: 700;
}

.back-link:hover {
  text-decoration: underline;
}


@media (max-width: 768px) {
  .container {
    flex-direction: column;
    margin: 20px;
  }

  .left-section, .right-section {
    padding: 20px;
  }

  .left-section .title {
    font-size: 2.2rem;
  }

  .right-section h2 {
    font-size: 1.5rem;
  }
}